.mediaViewInfo {
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__1 {
    position: absolute;
    width: 1920px;
    height: 4698px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#ramon-salinero-vEE00Hx5d0Q-uns {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_7_i {
    opacity: 0.836;
    fill: url(#Rectangle_7_i);
}
.Rectangle_7_i {
    position: absolute;
    overflow: visible;
    width: 1187px;
    height: 1080px;
    left: 733px;
    top: 0px;
}
#Rectangle_3 {
    fill: rgba(0,0,0,1);
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 2160px;
}
#joel-filipe-rG1LNUFgJhI-unspla {
    opacity: 0.617;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 2160px;
    overflow: visible;
}
#Rectangle_5 {
    fill: rgba(13,9,9,1);
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 674px;
    left: 0px;
    top: 4024px;
}
#Home {
    left: 1135px;
    top: 58px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Projects {
    left: 1419px;
    top: 58px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Services {
    left: 1263px;
    top: 58px;
    position: absolute;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#About {
    left: 1571px;
    top: 58px;
    position: absolute;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Contact {
    left: 1699px;
    top: 58px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#WiseEye {
    left: 104px;
    top: 45px;
    position: absolute;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Looking_for_a_branding_partner {
    left: 100px;
    top: 3366px;
    position: absolute;
    overflow: visible;
    width: 1043px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 132px;
    color: rgba(0,0,0,1);
}
#Component_1__1 {
    position: absolute;
    width: 552px;
    height: 123px;
    left: 100px;
    top: 3731px;
    overflow: visible;
}
#Rectangle_6 {
    fill: rgba(0,0,0,1);
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 552px;
    height: 123px;
    left: 0px;
    top: 0px;
}
#Lets_Talk {
    left: 152px;
    top: 30px;
    position: absolute;
    overflow: visible;
    width: 249px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(255,255,255,1);
}
#WiseEye_is_a_branding_and_desi {
    left: 99px;
    top: 343px;
    position: absolute;
    overflow: visible;
    width: 1145px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 115px;
    color: rgba(255,255,255,1);
}
#WHAT_WE_DO {
    left: 99px;
    top: 1209px;
    position: absolute;
    overflow: visible;
    width: 751px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 115px;
    color: rgba(0,0,0,1);
}
#Branding_Naming_Content_Creati {
    left: 100px;
    top: 1415px;
    position: absolute;
    overflow: visible;
    width: 1004px;
    white-space: nowrap;
    line-height: 150px;
    margin-top: -35px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
}
#Path_1 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 1120px;
    height: 2px;
    left: 100px;
    top: 1532.178px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_2 {
    overflow: visible;
    position: absolute;
    width: 1120px;
    height: 2px;
    left: 100px;
    top: 1682.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_3 {
    overflow: visible;
    position: absolute;
    width: 1120px;
    height: 2px;
    left: 100px;
    top: 1832.822px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 1120px;
    height: 2px;
    left: 100px;
    top: 1983.144px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_5 {
    overflow: visible;
    position: absolute;
    width: 1120px;
    height: 2px;
    left: 100px;
    top: 1402.144px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
    position: absolute;
    width: 63.195px;
    height: 63.195px;
    left: 1134.078px;
    top: 1427.125px;
    overflow: visible;
}
#Path_7 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_7 {
    overflow: visible;
    position: absolute;
    width: 58.024px;
    height: 58.617px;
    left: 10.17px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_8 {
    overflow: visible;
    position: absolute;
    width: 69.281px;
    height: 69.281px;
    left: 0px;
    top: 0.985px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_7 {
    position: absolute;
    width: 63.195px;
    height: 63.195px;
    left: 1134.078px;
    top: 1574.036px;
    overflow: visible;
}
#Path_7_ {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_7_ {
    overflow: visible;
    position: absolute;
    width: 58.024px;
    height: 58.617px;
    left: 10.17px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8_ {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_8_ {
    overflow: visible;
    position: absolute;
    width: 69.281px;
    height: 69.281px;
    left: 0px;
    top: 0.985px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_8 {
    position: absolute;
    width: 63.195px;
    height: 63.195px;
    left: 1134.078px;
    top: 1724.359px;
    overflow: visible;
}
#Path_7_bb {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_7_bb {
    overflow: visible;
    position: absolute;
    width: 58.024px;
    height: 58.617px;
    left: 10.17px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8_bc {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_8_bc {
    overflow: visible;
    position: absolute;
    width: 69.281px;
    height: 69.281px;
    left: 0px;
    top: 0.985px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_9 {
    position: absolute;
    width: 63.195px;
    height: 63.195px;
    left: 1134.078px;
    top: 1874.681px;
    overflow: visible;
}
#Path_7_be {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_7_be {
    overflow: visible;
    position: absolute;
    width: 58.024px;
    height: 58.617px;
    left: 10.17px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8_bf {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_8_bf {
    overflow: visible;
    position: absolute;
    width: 69.281px;
    height: 69.281px;
    left: 0px;
    top: 0.985px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_11 {
    position: absolute;
    width: 31.878px;
    height: 31.878px;
    left: 570.122px;
    top: 2999px;
    overflow: visible;
}
#Path_7_bh {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_7_bh {
    overflow: visible;
    position: absolute;
    width: 29.748px;
    height: 30.047px;
    left: 5.13px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8_bi {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_8_bi {
    overflow: visible;
    position: absolute;
    width: 35.624px;
    height: 35.624px;
    left: 0px;
    top: 0.497px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_12 {
    position: absolute;
    width: 31.878px;
    height: 31.878px;
    left: 1156px;
    top: 2999px;
    overflow: visible;
}
#Path_7_bk {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_7_bk {
    overflow: visible;
    position: absolute;
    width: 29.748px;
    height: 30.047px;
    left: 5.13px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8_bl {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_8_bl {
    overflow: visible;
    position: absolute;
    width: 35.624px;
    height: 35.624px;
    left: 0px;
    top: 0.497px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_13 {
    position: absolute;
    width: 31.878px;
    height: 31.878px;
    left: 1724px;
    top: 2999px;
    overflow: visible;
}
#Path_7_bn {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_7_bn {
    overflow: visible;
    position: absolute;
    width: 29.748px;
    height: 30.047px;
    left: 5.13px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8_bo {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_8_bo {
    overflow: visible;
    position: absolute;
    width: 35.624px;
    height: 35.624px;
    left: 0px;
    top: 0.497px;
    transform: matrix(1,0,0,1,0,0);
}
#st-james-studio-Id5Lt7-sydQ-un {
    position: absolute;
    width: 552px;
    height: 585px;
    left: 100px;
    top: 2374px;
    overflow: visible;
}
#st-james-studio-Id5Lt7-sydQ-un_bq {
    position: absolute;
    width: 552px;
    height: 585px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#pmv-chamara-1kCDtHVl064-unspla {
    position: absolute;
    width: 552px;
    height: 585px;
    left: 668px;
    top: 2374px;
    overflow: visible;
}
#pmv-chamara-1kCDtHVl064-unspla_bs {
    position: absolute;
    width: 552px;
    height: 585px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#mk-2-qG0ZWwd53Jk-unsplash {
    position: absolute;
    width: 552px;
    height: 585px;
    left: 1236px;
    top: 2374px;
    overflow: visible;
}
#mk-2-qG0ZWwd53Jk-unsplash_bu {
    position: absolute;
    width: 552px;
    height: 585px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Project_1 {
    left: 100px;
    top: 2988px;
    position: absolute;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    line-height: 150px;
    margin-top: -50px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Project_2 {
    left: 668px;
    top: 2988px;
    position: absolute;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    line-height: 150px;
    margin-top: -50px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Project_3 {
    left: 1236px;
    top: 2988px;
    position: absolute;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    line-height: 150px;
    margin-top: -50px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Home_Services_Projects_About_C {
    left: 1094px;
    top: 4127px;
    position: absolute;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    line-height: 70px;
    margin-top: -22.5px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#WiseEye_bz {
    left: 100px;
    top: 4131px;
    position: absolute;
    overflow: visible;
    width: 364px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 92px;
    color: rgba(255,255,255,1);
}
#Group_14 {
    position: absolute;
    width: 401px;
    height: 141px;
    left: 1378px;
    top: 4128px;
    overflow: visible;
}
#n_5_Cooper_Street_Toronto_On {
    left: 0px;
    top: 108px;
    position: absolute;
    overflow: visible;
    width: 402px;
    white-space: nowrap;
    line-height: 150px;
    margin-top: -60px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#n_47_282_7289 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 185px;
    white-space: nowrap;
    line-height: 150px;
    margin-top: -60px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#infowiseeyeca {
    left: 0px;
    top: 54px;
    position: absolute;
    overflow: visible;
    width: 228px;
    white-space: nowrap;
    line-height: 150px;
    margin-top: -60px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}